# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\anton\OneDrive\Documents\EPSI_B1\PROJTRANS DÉV APPLI OBJET\PyCharm - Projet Othello\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
